<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1532,730},{151,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,180}}</string>
                <key>sourceSize</key>
                <string>{151,180}</string>
            </dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1379,730},{151,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,180}}</string>
                <key>sourceSize</key>
                <string>{151,180}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1532,548},{151,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,180}}</string>
                <key>sourceSize</key>
                <string>{151,180}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1379,548},{151,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,180}}</string>
                <key>sourceSize</key>
                <string>{151,180}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1532,366},{151,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,180}}</string>
                <key>sourceSize</key>
                <string>{151,180}</string>
            </dict>
            <key>13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1379,366},{151,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,180}}</string>
                <key>sourceSize</key>
                <string>{151,180}</string>
            </dict>
            <key>14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1226,730},{151,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,180}}</string>
                <key>sourceSize</key>
                <string>{151,180}</string>
            </dict>
            <key>15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1226,548},{151,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,180}}</string>
                <key>sourceSize</key>
                <string>{151,180}</string>
            </dict>
            <key>16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1532,184},{151,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,180}}</string>
                <key>sourceSize</key>
                <string>{151,180}</string>
            </dict>
            <key>17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1379,184},{151,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,180}}</string>
                <key>sourceSize</key>
                <string>{151,180}</string>
            </dict>
            <key>18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1226,366},{151,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,180}}</string>
                <key>sourceSize</key>
                <string>{151,180}</string>
            </dict>
            <key>19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1073,730},{151,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,180}}</string>
                <key>sourceSize</key>
                <string>{151,180}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1073,548},{151,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,180}}</string>
                <key>sourceSize</key>
                <string>{151,180}</string>
            </dict>
            <key>20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1532,2},{151,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,180}}</string>
                <key>sourceSize</key>
                <string>{151,180}</string>
            </dict>
            <key>21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1379,2},{151,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,180}}</string>
                <key>sourceSize</key>
                <string>{151,180}</string>
            </dict>
            <key>22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1226,184},{151,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,180}}</string>
                <key>sourceSize</key>
                <string>{151,180}</string>
            </dict>
            <key>23.png</key>
            <dict>
                <key>frame</key>
                <string>{{1073,366},{151,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,180}}</string>
                <key>sourceSize</key>
                <string>{151,180}</string>
            </dict>
            <key>24.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,730},{151,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,180}}</string>
                <key>sourceSize</key>
                <string>{151,180}</string>
            </dict>
            <key>25.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,548},{151,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,180}}</string>
                <key>sourceSize</key>
                <string>{151,180}</string>
            </dict>
            <key>26.png</key>
            <dict>
                <key>frame</key>
                <string>{{1226,2},{151,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,180}}</string>
                <key>sourceSize</key>
                <string>{151,180}</string>
            </dict>
            <key>27.png</key>
            <dict>
                <key>frame</key>
                <string>{{1073,184},{151,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,180}}</string>
                <key>sourceSize</key>
                <string>{151,180}</string>
            </dict>
            <key>28.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,366},{151,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,180}}</string>
                <key>sourceSize</key>
                <string>{151,180}</string>
            </dict>
            <key>29.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,730},{151,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,180}}</string>
                <key>sourceSize</key>
                <string>{151,180}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,548},{151,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,180}}</string>
                <key>sourceSize</key>
                <string>{151,180}</string>
            </dict>
            <key>30.png</key>
            <dict>
                <key>frame</key>
                <string>{{1073,2},{151,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,180}}</string>
                <key>sourceSize</key>
                <string>{151,180}</string>
            </dict>
            <key>31.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,184},{151,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,180}}</string>
                <key>sourceSize</key>
                <string>{151,180}</string>
            </dict>
            <key>32.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,366},{151,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,180}}</string>
                <key>sourceSize</key>
                <string>{151,180}</string>
            </dict>
            <key>33.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,730},{151,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,180}}</string>
                <key>sourceSize</key>
                <string>{151,180}</string>
            </dict>
            <key>34.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,548},{151,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,180}}</string>
                <key>sourceSize</key>
                <string>{151,180}</string>
            </dict>
            <key>35.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,2},{151,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,180}}</string>
                <key>sourceSize</key>
                <string>{151,180}</string>
            </dict>
            <key>36.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,184},{151,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,180}}</string>
                <key>sourceSize</key>
                <string>{151,180}</string>
            </dict>
            <key>37.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,366},{151,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,180}}</string>
                <key>sourceSize</key>
                <string>{151,180}</string>
            </dict>
            <key>38.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,730},{151,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,180}}</string>
                <key>sourceSize</key>
                <string>{151,180}</string>
            </dict>
            <key>39.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,548},{151,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,180}}</string>
                <key>sourceSize</key>
                <string>{151,180}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,2},{151,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,180}}</string>
                <key>sourceSize</key>
                <string>{151,180}</string>
            </dict>
            <key>40.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,184},{151,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,180}}</string>
                <key>sourceSize</key>
                <string>{151,180}</string>
            </dict>
            <key>41.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,366},{151,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,180}}</string>
                <key>sourceSize</key>
                <string>{151,180}</string>
            </dict>
            <key>42.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,730},{151,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,180}}</string>
                <key>sourceSize</key>
                <string>{151,180}</string>
            </dict>
            <key>43.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,548},{151,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,180}}</string>
                <key>sourceSize</key>
                <string>{151,180}</string>
            </dict>
            <key>44.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,2},{151,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,180}}</string>
                <key>sourceSize</key>
                <string>{151,180}</string>
            </dict>
            <key>45.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,184},{151,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,180}}</string>
                <key>sourceSize</key>
                <string>{151,180}</string>
            </dict>
            <key>46.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,366},{151,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,180}}</string>
                <key>sourceSize</key>
                <string>{151,180}</string>
            </dict>
            <key>47.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,730},{151,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,180}}</string>
                <key>sourceSize</key>
                <string>{151,180}</string>
            </dict>
            <key>48.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,548},{151,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,180}}</string>
                <key>sourceSize</key>
                <string>{151,180}</string>
            </dict>
            <key>49.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,2},{151,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,180}}</string>
                <key>sourceSize</key>
                <string>{151,180}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,184},{151,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,180}}</string>
                <key>sourceSize</key>
                <string>{151,180}</string>
            </dict>
            <key>50.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,366},{151,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,180}}</string>
                <key>sourceSize</key>
                <string>{151,180}</string>
            </dict>
            <key>51.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,730},{151,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,180}}</string>
                <key>sourceSize</key>
                <string>{151,180}</string>
            </dict>
            <key>52.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,548},{151,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,180}}</string>
                <key>sourceSize</key>
                <string>{151,180}</string>
            </dict>
            <key>53.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,2},{151,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,180}}</string>
                <key>sourceSize</key>
                <string>{151,180}</string>
            </dict>
            <key>54.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,184},{151,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,180}}</string>
                <key>sourceSize</key>
                <string>{151,180}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,366},{151,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,180}}</string>
                <key>sourceSize</key>
                <string>{151,180}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,2},{151,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,180}}</string>
                <key>sourceSize</key>
                <string>{151,180}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,184},{151,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,180}}</string>
                <key>sourceSize</key>
                <string>{151,180}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{151,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,180}}</string>
                <key>sourceSize</key>
                <string>{151,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>card.png</string>
            <key>size</key>
            <string>{1685,912}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:72c053bb4f8db77bcd8f18281bef242c:1/1$</string>
            <key>textureFileName</key>
            <string>card.png</string>
        </dict>
    </dict>
</plist>
